
html {
    font-family: Consolas, monospace;
    font-size: 15px;
    color: #FF00F7;
    background-color: black
}


.header {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 90px;
    margin-left: 120px;
}

.header span {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.music {
    margin-top: 10px;
}

.main {
	  margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 80px;
}



